
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

:root {
  /* Colores */
  --color-bg: #FFFFFF;
  --color-text-primary: #111111;
  --color-text-secondary: #413C3C;
  --color-text-paragraph: #918A8A;
  --color-surface: #F5F5F5;
  --color-button: #324247;

  /* Tipografía */
  --font-family: 'Poppins', sans-serif;
  --font-size-base: 14px;
  --font-size-sm: 12px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  

}

.container {
    padding: 0 16px;
    max-width: 390px;
    width: 100%;
    margin: 0 auto;
    /*border: 1px solid red;*/
}

.product-image{
    /*border: 1px solid purple;*/
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 448px;
    margin: 0 -16px;
}

.product-image img{
    /*border: 1px solid green;*/
    width: 100%;
    height: 448px;
    object-fit: cover;
    display: block;
}


/*------------------Información productos-----------------------------*/
.product-info{
    /*border: 5px solid purple;*/
    position: absolute;
    bottom: -51px;    /* la mitad de 102px hacia abajo */
    left: 0;
    right: 0;
    width: calc(100% - 32px);
    margin: 0 auto;
    min-height: 102px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(
        rgba(55, 67, 63, 0.90) 0%,
        rgba(11, 29, 51, 1.00) 50%
    );
    border-radius: 16px;
    padding: 16px;
    gap: 16px;
}

.product-info__header{
    /*border: 1px solid purple;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;  /* esto separa título e ícono */
    align-items: center;
    width: 100%;
    
}
.product-info__title{
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: var(--color-surface);
    text-transform: capitalize;
    
}

.product-info__header i{
    /*border: 1px solid white;*/
    color: var(--color-surface);
    font-size: 22px;
}

.product-info__price{
    /*border: 1px solid brown;*/
    display: flex;
    justify-content: space-between;  /* esto separa título e ícono */
    align-items: center;
    width: 100%;
}

.product-info__price p{
    color: var(--color-surface);
    text-transform: capitalize;
    font-size: 16px;
}

.group-prices{
    /*border: 1px solid pink;*/
    display: flex;
    gap: 8px;
}

.product-info__price--current del{
    font-size: 14px;
    color:#9A9898;
    font-weight: 600;
}

.product-info__price--original{
    font-size: 16px;
    color: var(--color-surface);
    font-weight: 600;
}


/*-----------------------Sección opciones del producto-------------------*/

/*COLORES*/
.product-options{
    /*border: 2px solid pink;*/
    margin-top: 75px;
}

.product-options__category{
    /*border: 2px solid black;*/
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-options__header{
    /*border: 1px solid red;*/
    border-top: 1px solid #BBB4B4;
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 16px 8px;
}

.product-options__header p{
    font-size: 16px;
    color: var(--color-text-primary);
    font-weight: normal;
}

.product-options__header i{
    color: var(--color-text-secondary);
}

.colors{
    /*border: 2px solid red;*/
    display: none;
    padding: 0px 16px 0px 8px;
    gap: 16px;
    padding-bottom: 24px;
}

/*clase para mostrar colores*/
.colors--visible {
    display: flex;
}

.color-item{
    display: flex;
    flex-direction: column;
    /*border: 2px solid yellow;*/
    align-items: center;
    gap: 4px;
    
}
.color-item__circle--selected {
    border: 1.5px solid #000000;
}

.color-item__circle {
    width: 44px;
    height: 44px;
    border-radius: 50%;  /* esto lo hace círculo */
    background-color: gray;  /* color por defecto */
}
.color-item p{
    font-size: 12px;
    font-weight: normal;
    color: var(--color-text-primary);
    text-transform: capitalize;
}

/*TALLAS*/
.product-options__content{
    /*border: 2px solid red;*/
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.tallas{
    /*border: 2px solid yellow;*/
    display: none;
    gap: 16px;
    padding: 0px 16px 0px 8px;
}

/*clase para mostrar colores*/
.tallas--visible{
    display: flex;
}

.tallas span{
    display: inline-flex;    /* esto activa width y height */
    justify-content: center; /* centra el texto horizontalmente */
    align-items: center;     /* centra el texto verticalmente */
    font-size: 16px;
    color: var(--color-text-secondary);
    font-weight: 500;
    border: 1px solid #000000;
    border-radius: 12px;     /* Figma dice 12px no 16px */
    height: 44px;
    width: 44px;
}

.tallas .talla--agotada{
    border-color: #D9D9D9;  /* solo cambias el borde */
    color: var(--color-text-secondary);
    text-decoration: line-through;
    
}


.tallas__guia{
    /*border: 2px solid yellow;*/
    display: none;
    justify-content: end;
    color: #3079AE;
    font-size: 14px;
    font-weight: normal;
    text-decoration: underline;
    padding: 0 8px;
    margin-bottom: 32px;
}
/*clase para mostrar talla guía*/
.tallas__guia--visible{
    display: flex;
}

/*Cantidad*/
.product-options__amount{
    /*border: 2px solid yellow;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
    margin: 0px 0 32px 0;
}

.product-options__amount p{
    font-size: 16px;
    color: var(--color-text-secondary);

}

.product-options__counter{
    border: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-between;  /* distribuye el espacio entre - 01 + */
    padding: 8px 16px;
    border-radius: 8px;
    width: 171px;   /* ancho fijo del diseño */
    height: 48px;   /* alto fijo del diseño */
}

.product-options__counter span{
    font-size: 16px;
    color: var(--color-text-secondary);
    font-weight: 500; 
}

.product-options__counter i{
    /*border: 2px solid brown;*/
    font-size: 20px;
}

/*-----------------Sección descripción del producto------------------*/

.product-description{
    /*border: 2px solid yellow;*/
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}


.product-description h2{
    font-size: 18px;
    font-weight: 500;
    color: var(--color-text-secondary);

}

.product-description__text{
    font-size: 14px;
    color: var(--color-text-paragraph);
}

.product-description__extra{
    /*border: 2px solid pink;*/
    display: none;
    flex-direction: column;
    gap: 16px;
}

/*descripcion visible*/
.product-description__extra--visible{
    display: flex;
}

.product-description__extra h3{
    color: var(--color-text-secondary);
    font-size: 16px;
    font-weight: normal;
}

.product-description__extra span{
    color: var(--color-text-paragraph);
    font-size: 14px;
}


.product-description__toggle{
    display: flex;
    justify-content: end;
    font-size: 14px;
    font-weight: 500;
    color: #1A6DA1;
}


/*-----------------Sección vendedor del producto------------*/

.product-seller{
    /*border: 2px solid brown;*/
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 212px;
}

.product-seller h2{
    font-size: 18px;
    font-weight: 500;
    color: var(--color-text-secondary);
}

.product-seller__content{
    /*border: 1px solid pink;*/
    display: flex;
    gap: 16px;
}

.product-seller_contact{
    /*border: 1px solid brown;*/
    display: flex;
    flex-direction: column;
    gap:16px;
    width: 100%;
}

.product-seller_header{
    /*border: 1px solid yellow;*/
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.product-seller_header p{
    font-size: 16px;
    font-weight: 500;
    color: #1E1B1B;
}

.product-seller_header span{
    font-size: 14px;
    color: var(--color-text-paragraph);
}


.product-seller__content img{
    height: 109px;
    width: 109px;
}

/*Links*/

.product-seller__links{
    /*border: 2px solid red;*/
    display: flex;
    gap: 16px;
}

.product-seller__link{
    /*border: 2px solid blue;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.product-seller__link i{
    color: #4C4C4C;
    font-size: 21px;
}

.product-seller__link span{
    font-size: 12px;
    font-weight: 500;
    color: var(--color-text-secondary);
}

.product-footer{
    /*border: 2px solid blue;*/
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    padding: 8px 24px 32px 24px;
    margin: 0 -16px;
    
}

.product-footer button{
    background-color: #324247;
    border: none;
    border-radius: 24px;
    width: 342px;
    padding: 8px 16px 8px 12px;
    color: #F7F7F7;
    font-size: 20px;
    font-weight: bold;
}

/*--------------Caja de la iamgen--------------------*/
/* Lightbox */
.lightbox {
    /*border: 1px solid white;*/
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-text-primary);
    z-index: 999;   
}

.lightbox__header{
    /*border: 1px solid red;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: white;
    
}

.lightbox__header h1{
    /*border: 1px solid pink;*/
    font-size: 20px;
    font-weight: 600;
    color: var(--color-surface);
}

.lightbox__header i{
    font-size: 20px;
    color: var(--color-surface);
    text-align: center;
}

.lightbox__imgbox {
    /*border: 1px solid pink;*/
    position: relative;
    width: 100%;
    margin-top: 64px;
    flex: 1;
    overflow: hidden;
}

.lightbox__counter {
    position: absolute;
    top: 16px;
    left: 16px;
    background: rgba(76, 75, 75, 0.6);
    color: #D9D9D9;
    padding: 4px 10px;
    border-radius: 32px;
    font-size: 12px;
    min-width: 46px;
    text-align: center;
}

.lightbox--visible {
    display: flex;
}

.lightbox__img {
    /*border: 1px solid red;*/
    width: 100%;
    height: 100%; /* llena el imgbox exactamente */
    object-fit: cover;
    display: block; 
}

.lightbox__prev {
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #ADAEAF;
    font-size: 21px;
}

.lightbox__prev i{
    color: #ADAEAF;
    font-size: 21px;
}

.lightbox__next{
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #ADAEAF;
    font-size: 21px;
}

.lightbox__next i{
    color: #ADAEAF;
    font-size: 21px;
}

.lightbox__close{
    /*border: 1px solid red;*/
    background: transparent;
    flex-shrink: 0;
    margin-top: 24px;
    margin-bottom: 82px;
    border: none;
}

.lightbox__close i{
    font-size: 26px;
    background-color: var(--color-text-primary);
    color: #F5F5F5;
}